# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo

# Virtual Environment
venv/
ENV/
env/
.venv/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# Logs
*.log

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
desktop.ini

# Outros
.idea/
.vscode/
